$white:  #ffffff;
$black:  #131313;
$gray:   #E8EAED;
$blue:   #5B5F97;
$red:    #eb5a4f;
$orange: #f8a32c;
$tan:    #DCAB6B;
$purple: #a65cd4;
$dark-purple: #26022B;
$spotify-green: #65D36E;
$pink: #FF5F58;
$yellow: #FEBD2F;
$green: #26CB40;