$white:  #ffffff;
$black:  #131313;
$gray:   #E8EAED;
$blue:   rgb(73, 2, 255);
$red:    #eb5a4f;
$orange: #f8a32c;
$tan:    #DCAB6B;
$purple: #a65cd4;
$dark-purple: #26022B;
$spotify-green: #65D36E;
$pink: rgb(253, 9, 142);
$yellow: #FEBD2F;
$green: #26CB40;
$plum: rgb(40, 1, 46);