@import '../mixins/import';

$light: 300;
$normal: 400; 
$bold: 700;
$sans-serif: 'Lato', sans-serif;
$serif: 'Prata', serif;
$block: 'Economica', sans-serif;

@mixin font-header {
  @include scale(font-size 36px 120px);
  font-family: 'Elevation';
  font-weight: $light;
  letter-spacing: -.01em;
}

@mixin font-block {
  @include scale(font-size 16px 22px);
  letter-spacing: .1em;
  font-family: $block;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}