@import '../mixins/import';

$light: 300;
$normal: 400; 
$bold: 700;
$sans-serif: 'Open Sans', sans-serif;
$condensed: 'Open Sans Condensed', sans-serif;

p {
	font-size: 16px;
	font-weight: 300;
}

@mixin heading {
	@include scale(font-size 24px 36px);
	font-weight: $bold;
}

@mixin condensed($recursive: false) {
	font-weight: $light;
	text-transform: uppercase;
	letter-spacing: .05em;

	@if ($recursive == true) {
		* {
			font-weight: $light;
			text-transform: uppercase;
		}
	}
}