$input-height: 40px; 
$form-control-border: 1px solid $gray;
$border-radius: 8px;
$aside-width: 300px;
$aside-height: 50%;
$sidebar-width: 300px;
$artist-hero-height: 100px;
$mobile-artist-hero-height: 50px;
$visualizer-window: 600px;
$control-height: 80px;
$expanded-player-height: 400px;
$search-height: 100px;
$footer-height: 50px;
$base-border: 1px solid rgba(0, 0, 0, .15);
$settings-width: 300px;
$logo-size: 80px;
$mobile-logo-size: 40px;
$box-shadow-size: 0 2px 5px;
$box-shadow: $box-shadow-size rgba(0, 0, 0, .05);
$transparent-box-shadow: $box-shadow-size rgba(0, 0, 0, 0);