$base-margin: 20px;
$outer-padding: 20px;
$breakpoints: (
  tiny: 320,
  mobile-sm: 480,
  mobile: 768,
  tablet: 1024,
  laptop: 1280,
  desktop: 1440,
  large: 1680
);

@function get-breakpoint ($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}