@import '../import.scss';

main .about {
  @include position(fixed, 0 0 0 0);
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    @include scale(font-size 32px 20px);
    text-align: center;
  }
}