@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700");
@import url("https://fonts.googleapis.com/css?family=Prata");
@import url("https://fonts.googleapis.com/css?family=Economica");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Elevation";
  src: url("/fonts/Elevation.eot");
  src: url("/fonts/Elevation.eot?#iefix") format("embedded-opentype"), url("/fonts/Elevation.woff2") format("woff2"), url("/fonts/Elevation.woff") format("woff"), url("/fonts/Elevation.ttf") format("truetype"), url("/fonts/Elevation.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "leaguegothic-regular-webfont";
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Prata", serif; }

main .about {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  main .about h1 {
    font-size: 32px;
    text-align: center; }
    @media screen and (max-width: 1280px) {
      main .about h1 {
        font-size: 30.28571px; } }
    @media screen and (max-width: 1024px) {
      main .about h1 {
        font-size: 28.57143px; } }
    @media screen and (max-width: 900px) {
      main .about h1 {
        font-size: 26.85714px; } }
    @media screen and (max-width: 768px) {
      main .about h1 {
        font-size: 25.14286px; } }
    @media screen and (max-width: 640px) {
      main .about h1 {
        font-size: 23.42857px; } }
    @media screen and (max-width: 480px) {
      main .about h1 {
        font-size: 21.71429px; } }
    @media screen and (max-width: 480px) {
      main .about h1 {
        font-size: 21.71429px; } }
    @media screen and (max-width: 320px) {
      main .about h1 {
        font-size: 20px; } }
