@import '../import.scss';

.cardinal-shack {
  background: url('/img/cardinal-shack.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  .text {
    color: $white;
    text-align: right;

    @include bp(640) { text-align: center; }
  }
} 