@import '../import.scss';

$mobile-breakpoint: 480;

.contact header {
  @include hero-image('/img/contact-hero.jpg');
}

.form-container {
  @include container;
  @include position(absolute, 0 0 0 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  @include scale(width 600px 280px);

  div {
    @include transition(all .25s ease-in-out);
    @include transform( perspective(600px) rotateY(90deg) );
    display: none;
    opacity: 0;

    &.show {
      @include transform( perspective(600px) translateY(0px) );
      opacity: 1;
    }

    &.hide {
      @include transform( perspective(600px) rotateY(-90deg) );
      opacity: 0;
    }

    @include bp($mobile-breakpoint) {
      @include transform(none);

      &.show, &.hide { @include transform(none); }
    }
  }

  p {
    @include font-block;
    font-size: 30px;
    margin-bottom: $base-margin;

    @include bp($mobile-breakpoint) {
      margin-bottom: $base-margin/2;
    }
  }

  input[type="text"], input[type="email"], textarea {
    @include scale(font-size 40px 18px);
    font-family: $serif;
    display: block;
    border: 0;
    width: 100%;
    padding: 10px;
    background: $white;
    border-radius: 0;
    margin-bottom: $base-margin;
    
    &:focus, &:active {
      outline: 0;
    }

    @include bp($mobile-breakpoint) {
      margin-bottom: $base-margin/2;
    }
  }

  textarea {
    @include scale(font-size 26px 18px);
    height: 100px;
    font-size: 26px;
  }

  button {
    @include button($black, $black);
    float: left;
  }

   button[type="submit"] {
    float: right;
   }
}