@import '../import';

.featured-work {
  button { margin-right: 20px; }

  .text {
    color: $white;
  }
}

#kaleidoscope {
  @include position(fixed, 0 0 null 0);
  @include size(100%);
  display: block;
  margin: 0 auto;
}