@import '../import.scss';

$easing: cubic-bezier(.81,.14,.22,.86);
$nav-transition: .5s $easing;
$shade-transition: 1s $easing;
$mobile-breakpoint: 480;

#header {
  @include position(fixed, 0 0 null 0);
  width: 100%;
  z-index: 50;

  .container { @include container(true); }

  .logo {
    @include scale(
      width 100px 60px,
      height 100px 60px,
      margin-top 50px 20px
    );
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    background: $white;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 50;

    svg {
      @include scale(height 80px 40px);
      margin: 0 auto;
      display: block;
    }

    svg path {
      @include transition(stroke $base-transition, fill $base-transition);
      stroke: rgba(0, 0, 0, .2);
    }
  }

  .logo:hover svg path {
    fill: #fff;
    stroke: rgba(0, 0, 0, .7);
  }

  nav {
    @include scale(height 200px 110px);
    @include position(fixed, 0 0 null 0);
    @include transition(transform $nav-transition);
    @include transform( translateY(-100%) );
    height: 200px;
    background: $white;
    z-index: 30;

    @include bp($mobile-breakpoint) {
      height: 100%;
      bottom: 0;
      display: flex;
      align-items: center;
    }

    ul, li {
      list-style-type: none;
      padding: 0;
    }

    li {
      float: left;
      width: 25%;

      &:nth-child(1), &:nth-child(2) { text-align: left; }
      &:nth-child(3), &:nth-child(4) { text-align: right; }

      @include bp($mobile-breakpoint) {
        @include transition(transform $nav-transition);
        @include transform( translateX(-100%) );
        width: 100%;
        float: none;

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            text-align: center;
            transition-delay: #{$i * .1s};
          }
        }
      }
    }

    a {
      @include font-block;
      @include scale(margin-top 85px 40px);
      display: inline-block;
      margin: 85px 0;
      position: relative;
      cursor: pointer;
      user-select: none;
      color: $black;

      @include bp($mobile-breakpoint) {
        margin: $base-margin 0;
        font-size: 24px;
        display: block;
        padding: 10px 0;
        border: 1px solid rgba(0, 0, 0, .1);
      }
    }

    a span:before {
      @include position(absolute, null 50% -10px 50%);
      @include transition(all .3s $easing);
      height: 4px;
      display: block;
      content: '';
    }

    a:hover span:before {
      @include position(absolute, null 0 -10px 0);
    }

    @include bp($mobile-breakpoint) {
      a span:before, a:hover span:before {
        bottom: 0;
      }
    }

    a:active {
      @include transition(none);
      color: transparent;
    }

    li:nth-child(1) span:before { background: $home; }
    li:nth-child(2) span:before { background: $work; }
    li:nth-child(3) span:before { background: $about; }
    li:nth-child(4) span:before { background: $contact; }

  }

  &[data-open="true"] {
    svg path {
      fill: #fff;
      stroke: rgba(0, 0, 0, .7);
    }

    nav {
      @include transform( translateY(0) );
    }

    li {
      @include transform( translateX(0) );
    }
  }
}

#shade {
  @include position(fixed, 0 0 0 0);
  @include transition(transform $shade-transition);
  z-index: 40;

  $page-list: (home, work, about, contact);
  $color-list: ($home, $work, $about, $contact);

  &[data-transition="none"] {
    @include transform( translateX(-100%) );
    @include transition(none);
  }

  &[data-transition="start"] { @include transform( translateX(0)    ); }
  &[data-transition="end"]   { @include transform( translateX(100%) ); }

  @include keyframes(shade-box) {
    0%   { @include transform( scale(1.0) ); }
    100% { @include transform( scale(0.0) ); }
  }

  @for $i from 1 through 4 {
    &[data-transition="start"] div.#{nth($page-list, $i)},
    &[data-transition="end"]   div.#{nth($page-list, $i)} {
      @include animation(shade-box .5s $easing forwards);
      animation-delay: #{.3 + ($i * .1)}s;
      background-color: nth($color-list, $i);
    }
 
    &[data-target="#{nth($page-list, $i)}"] {
      background-color: nth($color-list, $i); 

      div.#{nth($page-list, $i)} {
        background: lighten(nth($color-list, $i), 10%);
      } 
    }
  }

  .boxes {
    @include position(absolute, 50% 0 null 0);
    @include size(100% auto);
    @include transform( translateY(-50%) );
    text-align: center;

    div {
      @include scale(
        width 100px 60px,
        height 100px 60px
      );
      display: inline-block;
      margin-right: 10px;
    }

    div:nth-child(4) { margin-right: 0; }
  }
}