@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700");
@import url("https://fonts.googleapis.com/css?family=Prata");
@import url("https://fonts.googleapis.com/css?family=Economica");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px; }

@font-face {
  font-family: "Elevation";
  src: url("/fonts/Elevation.eot");
  src: url("/fonts/Elevation.eot?#iefix") format("embedded-opentype"), url("/fonts/Elevation.woff2") format("woff2"), url("/fonts/Elevation.woff") format("woff"), url("/fonts/Elevation.ttf") format("truetype"), url("/fonts/Elevation.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "leaguegothic-regular-webfont";
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Prata", serif; }

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 50; }
  #header .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    clear: both;
    max-width: 1340px;
    margin: 0 auto; }
    #header .container::after {
      clear: both;
      content: "";
      display: table; }
  #header .logo {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 50; }
    @media screen and (max-width: 1280px) {
      #header .logo {
        width: 94.28571px;
        height: 94.28571px;
        margin-top: 45.71429px; } }
    @media screen and (max-width: 1024px) {
      #header .logo {
        width: 88.57143px;
        height: 88.57143px;
        margin-top: 41.42857px; } }
    @media screen and (max-width: 900px) {
      #header .logo {
        width: 82.85714px;
        height: 82.85714px;
        margin-top: 37.14286px; } }
    @media screen and (max-width: 768px) {
      #header .logo {
        width: 77.14286px;
        height: 77.14286px;
        margin-top: 32.85714px; } }
    @media screen and (max-width: 640px) {
      #header .logo {
        width: 71.42857px;
        height: 71.42857px;
        margin-top: 28.57143px; } }
    @media screen and (max-width: 480px) {
      #header .logo {
        width: 65.71429px;
        height: 65.71429px;
        margin-top: 24.28571px; } }
    @media screen and (max-width: 480px) {
      #header .logo {
        width: 65.71429px;
        height: 65.71429px;
        margin-top: 24.28571px; } }
    @media screen and (max-width: 320px) {
      #header .logo {
        width: 60px;
        height: 60px;
        margin-top: 20px; } }
    #header .logo svg {
      height: 80px;
      margin: 0 auto;
      display: block; }
      @media screen and (max-width: 1280px) {
        #header .logo svg {
          height: 74.28571px; } }
      @media screen and (max-width: 1024px) {
        #header .logo svg {
          height: 68.57143px; } }
      @media screen and (max-width: 900px) {
        #header .logo svg {
          height: 62.85714px; } }
      @media screen and (max-width: 768px) {
        #header .logo svg {
          height: 57.14286px; } }
      @media screen and (max-width: 640px) {
        #header .logo svg {
          height: 51.42857px; } }
      @media screen and (max-width: 480px) {
        #header .logo svg {
          height: 45.71429px; } }
      @media screen and (max-width: 480px) {
        #header .logo svg {
          height: 45.71429px; } }
      @media screen and (max-width: 320px) {
        #header .logo svg {
          height: 40px; } }
    #header .logo svg path {
      -webkit-transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
      -moz-transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
      transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
      stroke: rgba(0, 0, 0, 0.2); }
  #header .logo:hover svg path {
    fill: #fff;
    stroke: rgba(0, 0, 0, 0.7); }
  #header nav {
    height: 200px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    transition: transform 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    height: 200px;
    background: #ffffff;
    z-index: 30; }
    @media screen and (max-width: 1280px) {
      #header nav {
        height: 187.14286px; } }
    @media screen and (max-width: 1024px) {
      #header nav {
        height: 174.28571px; } }
    @media screen and (max-width: 900px) {
      #header nav {
        height: 161.42857px; } }
    @media screen and (max-width: 768px) {
      #header nav {
        height: 148.57143px; } }
    @media screen and (max-width: 640px) {
      #header nav {
        height: 135.71429px; } }
    @media screen and (max-width: 480px) {
      #header nav {
        height: 122.85714px; } }
    @media screen and (max-width: 480px) {
      #header nav {
        height: 122.85714px; } }
    @media screen and (max-width: 320px) {
      #header nav {
        height: 110px; } }
    @media screen and (max-width: 480px) {
      #header nav {
        height: 100%;
        bottom: 0;
        display: flex;
        align-items: center; } }
    #header nav ul, #header nav li {
      list-style-type: none;
      padding: 0; }
    #header nav li {
      float: left;
      width: 25%; }
      #header nav li:nth-child(1), #header nav li:nth-child(2) {
        text-align: left; }
      #header nav li:nth-child(3), #header nav li:nth-child(4) {
        text-align: right; }
      @media screen and (max-width: 480px) {
        #header nav li {
          -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
          -moz-transition: -moz-transform 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
          transition: transform 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
          transform: translateX(-100%);
          width: 100%;
          float: none; }
          #header nav li:nth-child(1) {
            text-align: center;
            transition-delay: 0.1s; }
          #header nav li:nth-child(2) {
            text-align: center;
            transition-delay: 0.2s; }
          #header nav li:nth-child(3) {
            text-align: center;
            transition-delay: 0.3s; }
          #header nav li:nth-child(4) {
            text-align: center;
            transition-delay: 0.4s; } }
    #header nav a {
      font-size: 22px;
      letter-spacing: .1em;
      font-family: "Economica", sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      margin-top: 85px;
      display: inline-block;
      margin: 85px 0;
      position: relative;
      cursor: pointer;
      user-select: none;
      color: #03091f; }
      @media screen and (max-width: 1280px) {
        #header nav a {
          font-size: 21.14286px; } }
      @media screen and (max-width: 1024px) {
        #header nav a {
          font-size: 20.28571px; } }
      @media screen and (max-width: 900px) {
        #header nav a {
          font-size: 19.42857px; } }
      @media screen and (max-width: 768px) {
        #header nav a {
          font-size: 18.57143px; } }
      @media screen and (max-width: 640px) {
        #header nav a {
          font-size: 17.71429px; } }
      @media screen and (max-width: 480px) {
        #header nav a {
          font-size: 16.85714px; } }
      @media screen and (max-width: 480px) {
        #header nav a {
          font-size: 16.85714px; } }
      @media screen and (max-width: 320px) {
        #header nav a {
          font-size: 16px; } }
      @media screen and (max-width: 1280px) {
        #header nav a {
          margin-top: 78.57143px; } }
      @media screen and (max-width: 1024px) {
        #header nav a {
          margin-top: 72.14286px; } }
      @media screen and (max-width: 900px) {
        #header nav a {
          margin-top: 65.71429px; } }
      @media screen and (max-width: 768px) {
        #header nav a {
          margin-top: 59.28571px; } }
      @media screen and (max-width: 640px) {
        #header nav a {
          margin-top: 52.85714px; } }
      @media screen and (max-width: 480px) {
        #header nav a {
          margin-top: 46.42857px; } }
      @media screen and (max-width: 480px) {
        #header nav a {
          margin-top: 46.42857px; } }
      @media screen and (max-width: 320px) {
        #header nav a {
          margin-top: 40px; } }
      @media screen and (max-width: 480px) {
        #header nav a {
          margin: 30px 0;
          font-size: 24px;
          display: block;
          padding: 10px 0;
          border: 1px solid rgba(0, 0, 0, 0.1); } }
    #header nav a span:before {
      position: absolute;
      right: 50%;
      bottom: -10px;
      left: 50%;
      -webkit-transition: all 0.3s cubic-bezier(0.81, 0.14, 0.22, 0.86);
      -moz-transition: all 0.3s cubic-bezier(0.81, 0.14, 0.22, 0.86);
      transition: all 0.3s cubic-bezier(0.81, 0.14, 0.22, 0.86);
      height: 4px;
      display: block;
      content: ''; }
    #header nav a:hover span:before {
      position: absolute;
      right: 0;
      bottom: -10px;
      left: 0; }
    @media screen and (max-width: 480px) {
      #header nav a span:before, #header nav a:hover span:before {
        bottom: 0; } }
    #header nav a:active {
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
      color: transparent; }
    #header nav li:nth-child(1) span:before {
      background: #DCAB6B; }
    #header nav li:nth-child(2) span:before {
      background: #EA526F; }
    #header nav li:nth-child(3) span:before {
      background: #7DCE82; }
    #header nav li:nth-child(4) span:before {
      background: #5B5F97; }
  #header[data-open="true"] svg path {
    fill: #fff;
    stroke: rgba(0, 0, 0, 0.7); }
  #header[data-open="true"] nav {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  #header[data-open="true"] li {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

#shade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  -moz-transition: -moz-transform 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  transition: transform 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  z-index: 40; }
  #shade[data-transition="none"] {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }
  #shade[data-transition="start"] {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  #shade[data-transition="end"] {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }

@-webkit-keyframes shade-box {
  0% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0); } }

@-moz-keyframes shade-box {
  0% {
    -moz-transform: scale(1); }
  100% {
    -moz-transform: scale(0); } }

@keyframes shade-box {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
  #shade[data-transition="start"] div.home,
  #shade[data-transition="end"] div.home {
    -webkit-animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    -moz-animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    animation-delay: 0.4s;
    background-color: #DCAB6B; }
  #shade[data-target="home"] {
    background-color: #DCAB6B; }
    #shade[data-target="home"] div.home {
      background: #e6c294; }
  #shade[data-transition="start"] div.work,
  #shade[data-transition="end"] div.work {
    -webkit-animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    -moz-animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    animation-delay: 0.5s;
    background-color: #EA526F; }
  #shade[data-target="work"] {
    background-color: #EA526F; }
    #shade[data-target="work"] div.work {
      background: #f07f95; }
  #shade[data-transition="start"] div.about,
  #shade[data-transition="end"] div.about {
    -webkit-animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    -moz-animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    animation-delay: 0.6s;
    background-color: #7DCE82; }
  #shade[data-target="about"] {
    background-color: #7DCE82; }
    #shade[data-target="about"] div.about {
      background: #a2dca6; }
  #shade[data-transition="start"] div.contact,
  #shade[data-transition="end"] div.contact {
    -webkit-animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    -moz-animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    animation: shade-box 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86) forwards;
    animation-delay: 0.7s;
    background-color: #5B5F97; }
  #shade[data-target="contact"] {
    background-color: #5B5F97; }
    #shade[data-target="contact"] div.contact {
      background: #787bad; }
  #shade .boxes {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: auto;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    #shade .boxes div {
      width: 100px;
      height: 100px;
      display: inline-block;
      margin-right: 10px; }
      @media screen and (max-width: 1280px) {
        #shade .boxes div {
          width: 94.28571px;
          height: 94.28571px; } }
      @media screen and (max-width: 1024px) {
        #shade .boxes div {
          width: 88.57143px;
          height: 88.57143px; } }
      @media screen and (max-width: 900px) {
        #shade .boxes div {
          width: 82.85714px;
          height: 82.85714px; } }
      @media screen and (max-width: 768px) {
        #shade .boxes div {
          width: 77.14286px;
          height: 77.14286px; } }
      @media screen and (max-width: 640px) {
        #shade .boxes div {
          width: 71.42857px;
          height: 71.42857px; } }
      @media screen and (max-width: 480px) {
        #shade .boxes div {
          width: 65.71429px;
          height: 65.71429px; } }
      @media screen and (max-width: 480px) {
        #shade .boxes div {
          width: 65.71429px;
          height: 65.71429px; } }
      @media screen and (max-width: 320px) {
        #shade .boxes div {
          width: 60px;
          height: 60px; } }
    #shade .boxes div:nth-child(4) {
      margin-right: 0; }
