@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700");
@import url("https://fonts.googleapis.com/css?family=Prata");
@import url("https://fonts.googleapis.com/css?family=Economica");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Elevation";
  src: url("/fonts/Elevation.eot");
  src: url("/fonts/Elevation.eot?#iefix") format("embedded-opentype"), url("/fonts/Elevation.woff2") format("woff2"), url("/fonts/Elevation.woff") format("woff"), url("/fonts/Elevation.ttf") format("truetype"), url("/fonts/Elevation.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "leaguegothic-regular-webfont";
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Prata", serif; }

.kaleidosync button {
  margin-right: 20px; }

.kaleidosync:before {
  -webkit-transition: background-color 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  -moz-transition: background-color 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  transition: background-color 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: rgba(234, 82, 111, 0.7);
  z-index: 1; }

.kaleidosync.playing:before {
  background: transparent; }

.kaleidosync .text {
  color: #ffffff; }

#kaleidoscope {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto; }
