@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700");
@import url("https://fonts.googleapis.com/css?family=Prata");
@import url("https://fonts.googleapis.com/css?family=Economica");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Elevation";
  src: url("/fonts/Elevation.eot");
  src: url("/fonts/Elevation.eot?#iefix") format("embedded-opentype"), url("/fonts/Elevation.woff2") format("woff2"), url("/fonts/Elevation.woff") format("woff"), url("/fonts/Elevation.ttf") format("truetype"), url("/fonts/Elevation.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "leaguegothic-regular-webfont";
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Prata", serif; }

.screens {
  transition: transform 1s cubic-bezier(0.81, 0.14, 0.22, 0.86); }

.screens > * {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }

.screen-navigation {
  position: fixed;
  right: 0;
  bottom: 20px;
  left: 0;
  bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  clear: both;
  max-width: 1340px;
  margin: 0 auto;
  z-index: 10;
  overflow: visible; }
  @media screen and (max-width: 1280px) {
    .screen-navigation {
      bottom: 45.71429px; } }
  @media screen and (max-width: 1024px) {
    .screen-navigation {
      bottom: 41.42857px; } }
  @media screen and (max-width: 900px) {
    .screen-navigation {
      bottom: 37.14286px; } }
  @media screen and (max-width: 768px) {
    .screen-navigation {
      bottom: 32.85714px; } }
  @media screen and (max-width: 640px) {
    .screen-navigation {
      bottom: 28.57143px; } }
  @media screen and (max-width: 480px) {
    .screen-navigation {
      bottom: 24.28571px; } }
  @media screen and (max-width: 480px) {
    .screen-navigation {
      bottom: 24.28571px; } }
  @media screen and (max-width: 320px) {
    .screen-navigation {
      bottom: 20px; } }
  .screen-navigation::after {
    clear: both;
    content: "";
    display: table; }
  .screen-navigation.black li {
    background: #03091f; }
  .screen-navigation li {
    -webkit-transition: all 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    -moz-transition: all 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    transition: all 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    margin-bottom: 32px;
    height: 12px;
    width: 12px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    background: #ffffff;
    overflow: visible;
    position: relative;
    opacity: .3; }
    @media screen and (max-width: 1280px) {
      .screen-navigation li {
        margin-bottom: 29.14286px; } }
    @media screen and (max-width: 1024px) {
      .screen-navigation li {
        margin-bottom: 26.28571px; } }
    @media screen and (max-width: 900px) {
      .screen-navigation li {
        margin-bottom: 23.42857px; } }
    @media screen and (max-width: 768px) {
      .screen-navigation li {
        margin-bottom: 20.57143px; } }
    @media screen and (max-width: 640px) {
      .screen-navigation li {
        margin-bottom: 17.71429px; } }
    @media screen and (max-width: 480px) {
      .screen-navigation li {
        margin-bottom: 14.85714px; } }
    @media screen and (max-width: 480px) {
      .screen-navigation li {
        margin-bottom: 14.85714px; } }
    @media screen and (max-width: 320px) {
      .screen-navigation li {
        margin-bottom: 12px; } }
    .screen-navigation li:last-child {
      margin-bottom: 0; }
  .screen-navigation li.active {
    opacity: 1; }

.text {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  clear: both;
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10; }
  .text::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 640px) {
    .text {
      text-align: center; } }
  .text h1 {
    font-size: 22px;
    letter-spacing: .1em;
    font-family: "Economica", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none; }
    @media screen and (max-width: 1280px) {
      .text h1 {
        font-size: 21.14286px; } }
    @media screen and (max-width: 1024px) {
      .text h1 {
        font-size: 20.28571px; } }
    @media screen and (max-width: 900px) {
      .text h1 {
        font-size: 19.42857px; } }
    @media screen and (max-width: 768px) {
      .text h1 {
        font-size: 18.57143px; } }
    @media screen and (max-width: 640px) {
      .text h1 {
        font-size: 17.71429px; } }
    @media screen and (max-width: 480px) {
      .text h1 {
        font-size: 16.85714px; } }
    @media screen and (max-width: 480px) {
      .text h1 {
        font-size: 16.85714px; } }
    @media screen and (max-width: 320px) {
      .text h1 {
        font-size: 16px; } }
  .text h2 {
    font-size: 120px;
    font-family: 'Elevation';
    font-weight: 300;
    letter-spacing: -.01em;
    margin: 15px 0; }
    @media screen and (max-width: 1280px) {
      .text h2 {
        font-size: 108px; } }
    @media screen and (max-width: 1024px) {
      .text h2 {
        font-size: 96px; } }
    @media screen and (max-width: 900px) {
      .text h2 {
        font-size: 84px; } }
    @media screen and (max-width: 768px) {
      .text h2 {
        font-size: 72px; } }
    @media screen and (max-width: 640px) {
      .text h2 {
        font-size: 60px; } }
    @media screen and (max-width: 480px) {
      .text h2 {
        font-size: 48px; } }
    @media screen and (max-width: 480px) {
      .text h2 {
        font-size: 48px; } }
    @media screen and (max-width: 320px) {
      .text h2 {
        font-size: 36px; } }
    @media screen and (max-width: 320px) {
      .text h2 {
        margin-bottom: 10px; } }
  .text p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px; }
    @media screen and (max-width: 320px) {
      .text p {
        font-size: 16px; } }
  .text a, .text button {
    font-size: 22px;
    letter-spacing: .1em;
    font-family: "Economica", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.05s ease-in-out;
    -moz-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    display: inline-block;
    border: 2px solid #ffffff;
    background: transparent;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 0;
    min-width: 100px;
    line-height: 26px;
    height: 50px;
    text-align: center; }
    @media screen and (max-width: 1280px) {
      .text a, .text button {
        font-size: 21.14286px; } }
    @media screen and (max-width: 1024px) {
      .text a, .text button {
        font-size: 20.28571px; } }
    @media screen and (max-width: 900px) {
      .text a, .text button {
        font-size: 19.42857px; } }
    @media screen and (max-width: 768px) {
      .text a, .text button {
        font-size: 18.57143px; } }
    @media screen and (max-width: 640px) {
      .text a, .text button {
        font-size: 17.71429px; } }
    @media screen and (max-width: 480px) {
      .text a, .text button {
        font-size: 16.85714px; } }
    @media screen and (max-width: 480px) {
      .text a, .text button {
        font-size: 16.85714px; } }
    @media screen and (max-width: 320px) {
      .text a, .text button {
        font-size: 16px; } }
    .text a:active, .text a:focus, .text button:active, .text button:focus {
      outline: 0; }
    .text a:hover, .text button:hover {
      color: #ffffff;
      border: 2px solid #ffffff;
      cursor: pointer; }
    .text a:active, .text button:active {
      color: transparent; }
