@mixin button($color, $hover) {
  @include font-block;
  @include transition(all 0.15s ease-in-out);
  display: inline-block;
  border: 2px solid $color;
  background: transparent;
  padding: 10px 20px;
  color: $color;
  border-radius: 0;
  min-width: 100px;
  line-height: 26px;
  height: 50px;

  &:active, &:focus { outline: 0; }

  &:hover {
    color: $hover;
    border: 2px solid $hover;
    cursor: pointer;
  }
}