@mixin hero-image($background-url) {
  @include scale(height 600px 300px);
  @include transition(opacity 2s ease-in-out);
  @include position(fixed, 0 0 null 0);
  background-image: url(#{$background-url});
  background-position: center;
  background-size: cover;
}