// Sass imports.
@import 'imports';

// Global styles.
@import 'global/reset';
@import 'global/fonts';

body {
  font-family: 'Nanum Gothic';
}

html, body {
  @include size(100%);
  @include flex;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

$blue:   #5B5F97;
$pink:   #EA526F;
$green:  #7DCE82;
$tan:    #DCAB6B;

$email: $tan;
$phone: $pink;
$linkedin: $green;
$github: $blue;

$easing: cubic-bezier(.81,.14,.22,.86);

$max-width: 1280px;
$mobile-outer-padding: 20px;
$desktop-outer-padding: 30px;

$breakpoints: (
  mobile-tiny: 320,
  mobile-sm: 480,
  mobile: 640,
  tablet-sm: 768,
  tablet: 1024,
  laptop: 1280
);

@mixin max-width($bp) {
  $breakpoint: map-get($breakpoints, $bp);
  
  @if (type-of($breakpoint) != 'number') {
    $breakpoint: $bp;
  }
  
  @media all and (max-width: #{$breakpoint}px) { @content; }
}

h1 {
  font-size: 4rem;
  text-align: center;
  animation: fade-out 1000ms $easing forwards;
  animation-delay: 1200ms;
  user-select: none;

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  i {
    font-style: normal;
    opacity: 0;
    animation: fade-in 1000ms $easing forwards;
    @include cascade(20, 20ms);
  }

  .word {
    margin-left: 1rem;
  }

  @include max-width(tablet) {
    font-size: 3rem;

    .word { margin-left: .5rem; }
  }

  @include max-width(mobile) {
    font-size: 2rem;
  }

  @include max-width(mobile-sm) {
    font-size: 1.5rem;
  }
}

ul {
  @include flex;
  position: absolute;
  pointer-events: none;

  @include max-width(mobile) {
    flex-direction: column;
    li { margin-bottom: 50px; }
  }
}

ul, li {
  list-style-type: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(100%);
  }

  100% {
    opacity: 1;
    transform: translate(0%);
  }
}

ul.visible {
  pointer-events: all;

  li {
    animation: fade-in 1000ms $easing forwards;
    @include cascade(4, 200ms);
  }
}


li {
  margin: 0 10px;
  opacity: 0;


  a {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: color 150ms $easing;
  }

  &:nth-child(1) a { color: $email; }
  &:nth-child(2) a { color: $phone; }
  &:nth-child(3) a { color: $linkedin; }
  &:nth-child(4) a { color: $github; }

  a:before {
    @include position(absolute, 0 0 0 0);
    content: '';
    z-index: -1;
    transform: translateY(100%);
    transition: transform 100ms $easing;
  }

  &:nth-child(1) a:before { background: $email; }
  &:nth-child(2) a:before { background: $phone; }
  &:nth-child(3) a:before { background: $linkedin; }
  &:nth-child(4) a:before { background: $github; }

  a:hover {
    color: white;

    &:before { transform: translateY(0%); }
  }
}
