@import 'global';

.Work .GitHub {
  background: url('/img/github.png') no-repeat;
  background-size: cover;
  background-position: center;

  .text {
    color: $black;
    
    a { @include button($black, $black); }
  }
}