%form-control {
  border: $form-control-border;
  height: $input-height;
  -webkit-appearance: none;
  appearance: none;
  padding: 0 spacer(1);
  outline: 0;
  transition: all $hover-transition;
  border-radius: 40px;
  background: transparent;
  border: 1px solid $white;
  color: $white;
  background: transparent;
  color: $white;

  &::placeholder {
    color: rgba($white, .8);
    font-family: 'Share', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
  }

  &:hover {
    // border-color: darken($gray, 15%);
  }

  &:active, &:focus, &.focused {
    outline: 0;
    // border-color: darken($gray, 15%);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:hover {
    background: transparent !important;
    color: black !important;
  }
}