@import 'global';

$nav-transition: .5s $base-easing;
$shade-transition: 1s $base-easing;
$mobile-breakpoint: 480;

.Header {
  @include position(fixed, 0 0 null 0);
  width: 100%;
  z-index: 50;

  .container {
    @include container;
    @include pad;
  }

  .logo {
    @include scale(
      width 60px 100px,
      height 60px 100px,
      margin-top 20px 50px
    );
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    background: $white;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 50;

    svg {
      @include scale(height 40px 80px);
      margin: 0 auto;
      display: block;
    }

    svg path {
      transition: stroke $base-transition, fill $base-transition;
      stroke: rgba(0, 0, 0, .2);
    }
  }

  .logo:hover svg path {
    fill: #fff;
    stroke: $black;
  }

  nav {
    @include scale(height 110px 200px);
    @include position(fixed, 0 0 null 0);
    transition: transform $nav-transition;
    transform: translateY(-100%);
    height: 200px;
    background: $white;
    z-index: 30;

    @include max-width(mobile-sm) {
      height: 100%;
      bottom: 0;
      display: flex;
      align-items: center;
    }

    ul, li {
      list-style-type: none;
      padding: 0;
    }

    li {
      float: left;
      width: 25%;

      &:nth-child(1), &:nth-child(2) { text-align: left; }
      &:nth-child(3), &:nth-child(4) { text-align: right; }

      @include max-width(mobile-sm) {
        width: 100%;
        float: none;

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            text-align: center;

            span:before { display: none; }
          }
        }
      }
    }

    a {
      @include font-block;
      @include scale(margin-top 40px 85px);
      display: inline-block;
      margin: 85px 0;
      position: relative;
      cursor: pointer;
      user-select: none;
      color: $black;

      @include max-width(mobile-sm) {
        margin: 30px 0;
        font-size: 24px;
        display: block;
        padding: 10px 0;
      }

      @include max-width(mobile-tiny) {
        margin: 15px 0;
      }
    }

    a span:before {
      @include position(absolute, null 50% -10px 50%);
      transition: all .3s $base-easing;
      height: 4px;
      display: block;
      content: '';
    }

    a:hover span:before {
      @include position(absolute, null 0 -10px 0);
    }

    @include max-width(mobile-sm) {
      a span:before, a:hover span:before {
        bottom: 0;
      }
    }

    a:active {
      transition: none;
      color: transparent;
    }

    li:nth-child(1) span:before { background: $home; }
    li:nth-child(2) span:before { background: $work; }
    li:nth-child(3) span:before { background: $skills; }
    li:nth-child(4) span:before { background: $contact; }

  }

  &[data-open="true"] {
    svg path {
      fill: #fff;
      stroke: $black;
    }

    nav {
      transform: translateY(0);
    }

    li {
      opacity: 1;
    }
  }
}

.Shade {
  @include position(fixed, 0 0 0 0);
  transition: transform $shade-transition;
  z-index: 40;

  &[data-transition="none"] {
    transform: translateX(-100%);
    transition: none;
  }

  &[data-transition="start"] { transform: translateX(0);    }
  &[data-transition="end"]   { transform: translateX(100%); }

  @keyframes shade-box {
    0%   { transform: scale(1.0); }
    100% { transform: scale(0.0); }
  }

  $page-list: (Home, Work, Skills, Contact);
  $color-list: ($home, $work, $skills, $contact);

  @for $i from 1 through 4 { 
    &[data-transition="start"] div.#{nth($page-list, $i)},
    &[data-transition="end"]   div.#{nth($page-list, $i)} {
      animation: shade-box .5s $base-easing forwards;
      animation-delay: #{.3 + ($i * .1)}s;
      background-color: nth($color-list, $i);
    }
 
    &[data-target="#{nth($page-list, $i)}"] {
      background-color: nth($color-list, $i); 

      div.#{nth($page-list, $i)} {
        background: lighten(nth($color-list, $i), 10%);
      } 
    }
  }

  .boxes {
    @include position(absolute, 50% 0 null 0);
    @include size(100%, auto);
    transform: translateY(-50%);
    text-align: center;

    div {
      @include scale(
        width 60px 100px,
        height 60px 100px
      );
      display: inline-block;
      margin-right: 10px;
    }

    div:nth-child(4) { margin-right: 0; }
  }
}