@import 'global';

main .Home  {
  @include position(fixed, 0 0 0 0);

  @keyframes background {
    0% { background: rgba($home, .7); }
    25% { background: rgba($work, .7); }
    50% { background: rgba($skills, .7); }
    75% { background: rgba($contact, .7); }
    100% { background: rgba($home, .7); }
  }

  &:before {
    @include position(absolute, 0 0 0 0);
    @include size(100%);
    content: '';
    animation: background 60s linear infinite;
    z-index: 1;
  }

  .container {
    @include container;
    @include pad;
    @include position(relative, 50% null null null);
    transform: translateY(-50%);
    z-index: 2;
  }

  video {
    @include position(absolute, 50% null null 50%);
    @include size(100%, auto);
    transform: translate(-50%, -50%);
    z-index: 0;

    &.vertical { @include size(auto, 100%); }
  }

  h1 {
    @include font-header;
    @include scale(
      font-size 36px 120px,
      line-height 40px 110px,
      height 80px 220px
    );
    color: $white;

    @include max-width(mobile-sm) {
      font-size: 36px;
      line-height: 40px;
      height: 80px;
      position: relative;
      top: -100px;
      text-align: center;
    }

    @include max-width(mobile-tiny) {
      top: -80px;
    }
  }
}