@import 'global';

main .Skills {
  @include position(fixed, 0 0 0 0);
  background: $black;

  ul {
    @include container;
    @include pad;
    @include center-vertically;
  }

  @keyframes skills {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  li {
    @include clearfix;
    position: relative;
    list-style-type: none;
    margin: 0;
    animation: skills .7s $base-easing forwards;
    opacity: 0;
    transform: translateY(30px);
    border-bottom: 10px transparent solid;

    @keyframes slide-right {
      0% { width: 0%; }
      100% { width: 100%; }
    }

    &:before {
      @include position(absolute, 50% 0 null 0);
      @include size(0%, 5px);
      content: '';
      animation: slide-right .7s $base-easing forwards;
      background: $skills;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  @for $i from 0 through 5 {
    li:nth-child(#{$i}), li:nth-child(#{$i}):before {
      animation-delay: #{.5 * $i}s;
    }
  }

  span {
    background: $white;
    padding: 10px;
    margin: 0;
  }

  .skill {
    @include font-header;
    @include scale(font-size 10px 50px, line-height 14px 50px);
    background: $skills;
    color: $white;
    float: left;
  }

  .experience {
    @include font-block;
    @include scale(line-height 14px 50px);
    float: right;
    font-size: .7em;

    i {
      @include scale(width 15px 25px);
      display: inline-block;
      font-family: 'Elevation';
      font-style: normal;
      font-size: 1.3em;
      text-align: center;
    }
  }
}