$font-path: '/fonts';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700');
@import url('https://fonts.googleapis.com/css?family=Prata');
@import url('https://fonts.googleapis.com/css?family=Economica');

@mixin font-face($font) {
  @font-face {
    font-family: '#{$font}';
    src: url('#{$font-path}/#{$font}.eot');
    src: url('#{$font-path}/#{$font}.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/#{$font}.woff2') format('woff2'),
      url('#{$font-path}/#{$font}.woff') format('woff'),
      url('#{$font-path}/#{$font}.ttf') format('truetype'),
      url('#{$font-path}/#{$font}.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  } 
} 

@include font-face('Elevation');
@include font-face('leaguegothic-regular-webfont');

$light: 300;
$normal: 400; 
$bold: 700;
$sans-serif: 'Lato', sans-serif;
$serif: 'Prata', serif;
$block: 'Economica', sans-serif;

body {
  font-family: $serif;
}

@mixin font-header {
  @include scale(font-size 120px 36px);
  font-family: 'Elevation';
  font-weight: $light;
  letter-spacing: -.01em;
}

@mixin font-block {
  @include scale(font-size 22px 16px);
  letter-spacing: .1em;
  font-family: $block;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}