$blue:   #143f7a;
$teal:  #276170;
$magenta: #613a62;
$purple: #371c7a;
$pink: lighten($purple, 25%);
$light-blue: #5591b3;
$black:  #05060D;
$white:  #ffffff;
$gray:   #6d6d6d;
$primary-color: $blue;
$light-gray: #f2f2f2;
$red: #f43d23;
$green:#00c258;
$orange: #f7931e;
$middle-blue: rgb(57,108,190);
$white:  #ffffff;
$black:  #03091f;
$gray:   #6d6d6d;
$blue:   #5B5F97;
$pink:   #EA526F;
$green:  #7DCE82;
$red:    #eb5a4f;
$orange: #f8a32c;
$tan:    #DCAB6B;
$purple: #a65cd4;
$primary-color: $blue;