$base-duration: 300ms;
$base-easing: cubic-bezier(.88,.11,.23,.92);
$base-transition: $base-duration $base-easing;
$hover-transition: .15s linear;
$base-margin: 50px;
$outer-padding: 30px;
$mobile-outer-padding: 30px;
$scene-transition: all 1000ms ease-in-out;
$slide-transition: all 350ms $base-easing;