$button-height: 60px;
$button-height-mobile: 40px;
$border-size: 0px;
$button-color: $black;

@mixin button ($color: $button-color) {
  display: inline-block;
  text-decoration: none;
  height: $button-height;
  padding: 0 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: $color;
  font-family: inherit;
  background: rgba($white, .8);
  line-height: $button-height - ($border-size * 2);
  transition: transform 100ms linear;
  text-shadow: none;
  border: $border-size solid rgba($color, .2);

  &:hover {
    transform: scale(1.05);
    transition-duration: 100ms !important;
  }

  &:active {
    transform: scale(.9);
  }

  .dark & {
    background: white;
    color: $black;
  }

  @include mobile {
    height: $button-height-mobile;
    padding: 0 10px;
    font-size: 14px;
    line-height: $button-height-mobile - ($border-size * 2);
  }
}