@mixin button ($background: $black) {
  display: inline-block;
  text-decoration: none;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  background: transparent;
  border: 2px solid $background;
  color: $background;
  font-family: inherit;
  line-height: 60px - 4px;
  transition: transform 100ms linear;

  &:hover {
    transform: scale(1.05);
    transition-duration: 100ms !important;
  }

  &:active {
    transform: scale(.9);
  }
}