@mixin button($color, $hover) {
  @include font-block;
  transition: all 0.05s linear;
  display: inline-block;
  border: 2px solid $color;
  background: transparent;
  padding: 10px 20px;
  color: $color;
  border-radius: 0;
  min-width: 100px;
  line-height: 26px;
  height: 50px;
  text-align: center;

  &:active, &:focus { outline: 0 }

  &:hover { 
    color: $hover;
    border: 2px solid $hover;
    cursor: pointer;
  } 

  &:active { color: transparent; }
}