@mixin icon-button {
  @include size(60px);
  @include clear;
  font-size: 48px;
  transition: all 100ms ease-out;
  opacity: 1;
  border: 2px solid transparent;
  color: $black;

  &:hover, &.active {
    border-color: $white;
    opacity: 1;
  }
  border: 0 !important;
  outline: 0 !important;

  &:hover { transform: scale(1.1); }

  @include max-width(mobile) {
    @include size(40px);
    font-size: 30px;
  }

  @include mobile-landscape {
    @include size(40px);
    font-size: 30px;
  }
}