@mixin pad($vertical: false, $multiplier: 1) {
  padding-left: $mobile-outer-padding * $multiplier;
  padding-right: $mobile-outer-padding * $multiplier;

  @if ($vertical) {
    padding-top: $mobile-outer-padding * $multiplier;
    padding-bottom: $mobile-outer-padding * $multiplier;
  }

  @include min-width(mobile) {
    padding-left: $desktop-outer-padding * $multiplier;
    padding-right: $desktop-outer-padding * $multiplier;
  
    @if ($vertical) {
      padding-top: $desktop-outer-padding * $multiplier;
      padding-bottom: $desktop-outer-padding * $multiplier;
    }
  }
}