@mixin work-text($direction: horizontal) {
  @include scale(font-size 1rem 2rem);
  @if $direction == horizontal {
    transform: translateX(-150px) scale(.6);
  }
  @if $direction == vertical {
    transform: translateY(50px) scale(.6);
  }
  opacity: 0;
  transition: transform $work-item-transition, opacity $work-item-transition;
}