@use './size.scss' as *;
@use './type.scss' as *;
@use './flex.scss' as *;

@mixin button {
  @include size(100px, 50px);
  @include flex;
  font-size: px(20);
  line-height: var(--element-height);
  gap: calc(var(--base-spacer) / 4);
  padding: 0 .5rem;
  border-radius: 0;
  background: transparent;
  background: rgba(0, 0, 0, 0.6);
  color: var(--black);
  will-change: transform, opacity;
  white-space: nowrap;
  padding: px(10);
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  color: var(--white);
  outline: 0;
  text-decoration: none;
  width: 100px;
  border: 0;

  *:disabled {
    opacity: 0.8;
  }

  &:not(:disabled) {
    &:hover {
      background: white;
      color: black;
      transform: scale(1.05);
    }

    &:active {
      transition-duration: 0ms;
      transform: scale(1);
    }
  }
}
