@mixin mobile-menu {
	@include position(fixed, 0 0 0 0);
	@include size(100%);
	@include transition( all $base-transition );
	@include transform( translateX(100%) );
	background: $black;

	&.open { @include transform( translateX(0) ); }

	li, a {
		float: none;
		width: 100%;
	}

	[data-menu-top] {
		@include transition( all $base-transition );
		@include position(fixed, 0 0 0 0);
		@include size(100%);
		padding: 0 $outer-padding;

		&[data-open="true"] { @include transform( translateX(-100%) );}
	}

	[data-menu-secondary] {
		@include transition( all $base-transition );
		@include position(fixed, 0 0 0 0);
		@include size(100%);
		@include transform( translateX(100%) );
		padding: 0 $outer-padding;
		display: block;
		opacity: 0;
		z-index: 0;

		&[data-open="true"] { z-index: 10; opacity: 1; }
	}
} 